//Navigator (Menu)
.nav {
  width: 100vw;
  height: 100vh;
  background: $color-1;
  opacity: 0.5;
  display: none;
  position: absolute;
  // animation: tanTan 1s ease-in-out 0s 1 alternate forwards;
  // @keyframes tanTan {
  //   0% {
  //     width: 0;
  //   }
  //   100% {
  //     width: 100vw;
  //   }
  // }

  &__menu {
    @include mid($flex: true);
    flex-direction: column;
    a {
      cursor: pointer;
      padding: 2rem 1.5rem;
      transition: 0.4s;
      font-weight: bold;
      @include text(2rem, none, normal, #000000, uppercase);
      &:hover {
        color: $white-cl;
        transition: 0.4s;
      }
    }
  }
}
@include xs {
  .nav {
    &.active {
      // opacity: 0.5;
      @include mid($flex: true);
    }
  }
}
